@import "tailwindcss";

:root {
  --background: #f8f5ea;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

[data-edit-mode="true"] [data-editable="true"] {
  outline: 2px solid #8d71d6;
  outline-offset: 2px;
}
